<!DOCTYPE html>
<html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/boitata.png') }}" type="image/x-icon"> 
    <title>Boitata - BRAZIl</title>
</head>
<body>
<div class="Menu">
<a href="https://brasilescola.uol.com.br/folclore/boitata.htm">Boitata</a>
</div>

<h1>Boitata ChatBot</h1>
<div>
<img src="{{ url_for('static', filename='img/boitata.png') }}" width="20%">
</div>
<br>
<input type="text" id="msg">
<button onclick="send()">Enviar</button>

<div id="chat"></div>

<!-- 
<a href="">Artigos do boitata</a> -->
</body>
</html>
